/* Add CSS styling here */
/* CSS Eric Meyer's Reset to set all styles to default */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	/*border: 0;*/
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* end reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    max-width: 100%; /* cannot get bigger than parent */
    border: 1ps solid grey; /*until it is foramted the way i want*/
}

html { /* making html more accessable */
    font-size: 62.5%; 
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}

a:hover {
    color: goldenrod;
    font-weight: 900;
    text-transform: uppercase;
}

a:active {
    color: goldenrod;
    font-weight: 900;
    text-transform: lowercase;
    text-decoration: underline overline;
}

a:visited {
    color:crimson;
    text-transform: uppercase;
}

div {
    border: 1px solid grey;
}
section {
    background-color: white;
    font-size: 2rem;
    font-weight: 400;
}

h1, h2 {
    text-align: center;
    font-weight:900;
    letter-spacing: 0.5rem;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    background-color: black;
    padding: 3%;
    border: 0px 10px;
}


/* HEADER */


header nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1% 0;
}

/* Work */
#work {
    display: flex;
    justify-content: space-evenly;

}

/* Gallery */

#art {
    display: flex;
    justify-content: space-around;
}

#art #gallery {
    display: flex;
    justify-content: space-around;
    align-content:space-evenly;
    width: 50%;
}

#art #gallery .rectangle {
    width: 10%;
    background-color: lightgreen;
}

#art #art-text {
    width: 40%;    
}

/* Footer */

footer {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}